$primary-color: #6C3516;
$primary-accent:#CB844E;
$about-background: #EECB9D;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;
$background-color: #ecf0f1;
$light-text-color: black;
$dark-text-color: #101D28;
$contact-box-color: #3e4a50;
$services-contact-background: #54260F;
$contact-background: #54260F;